<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <div id="navegacion">
                                <div class="navbar-end"><a href="index.html">Inicio</a></div>
                                <div class="navbar-end"><a href="listas.html">Listas</a></div>
                                <div class="navbar-end"><a href="tablas.html">Tablas</a></div>
                                <div class="navbar-end"><a href="formulario.html">Formulario</a></div> 
                                    <div class="vacio"></div>
                             </div>

                             
                    </div>
                </div>
            </nav>
        </div>
        <h4>Sobre este sitio</h4>
        <p>Propiedad de : Nombre Apellido</p>
        <p>Webmaster: Nombre Apellido</p>
      </div>
      <div class="col_pie">
        <h4>Contactos</h4>
        <p>Email : miemail@servidor.com</p>
        <p>Teléfono: 900-00-00-00</p>
      </div>
      <div class="col_pie">
        <h4>En las redes</h4>
        <p>Facebook : (dirección de Facebook)</p>
        <p>Twitter: (dirección de Twitter)</p>
      </div>


    </section>
</body>

</html>